@model int

@{
    ViewBag.Title = "Index";
}

<h2>Start or resume scraping</h2>

<form method="get" action="@Url.Action("Scrape")">
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <p>
                    <a href="@Url.Action("Scrape")" class="btn btn-info">Start scraping from ID 1</a>
                </p>
                <p><a href="@Url.Action("Scrape",new { start = Model })" class="btn btn-info">Start scraping from ID @Model</a></p>
                <p><a href="@Url.Action("ScrapeAlpha")" class="btn btn-info">Use alphabet to perform an initial sampling scrape</a></p>
                <p>
                    <button type="submit">Scrape from:</button>
                    <input type="number" name="start" />
                </p>
            </div>
        </div>
    </div>
</form>
